/* searchForm */
.form {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1.6rem;
  gap: 0.8rem;
  border: 0.01rem solid hsl(300, 50%, 13%);
  box-shadow: 2px 0px 8px -4px hsl(300, 30%, 13%);
  max-width: 50%;
  font-size: 1.6rem;
  border-radius: 5px;
  background-color: #fff;
  margin-top: 5rem;
}

.form input {
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: 1.6rem;
  background-color: transparent;
}
